@import "tailwindcss";


.titulo-ppal {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3rem;
}

.subtitulo {
    color: rgb(100, 100, 100);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primario {
    background-color: rgb(0, 255, 34);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 500px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.btn-primario:hover {
    background-color: rgb(0, 202, 27);
}

.section2 {
    height: 42vh;
    background-color: #44C79A
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
}

.tarjeta-producto {
    background-color: rgb(237, 132, 132);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}